body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height:100%;
}

.header {
    display: flex;
    background: #D4E3EE;
    color: black;
    padding: 20px 30px;
    height: 80px; /* 헤더의 높이를 80px로 고정 */
    align-items: center;
}

nav {
  display: flex;
  margin-left: auto;
}

nav a{
   padding:10px;
   text-decoration: none;
   color: inherit;
}
.logo {
    width: 80px; /* 원하는 너비로 조절 */
    height: 80px; /* 높이 자동으로 조절 (비율 유지) */
    margin-right: 40px; /* 로고 오른쪽 여백 조절 */
}

.title {
    margin: 0; /* 기본 마진 제거 */
}

h1 {
    text-align: center;
    font-size: 36px; /* 원하는 크기로 설정 (예: 36px) */

}
.container {
    display: flex;
    min-height: 100vh; /* 최소 높이를 브라우저 뷰포트의 100%로 고정 */
}

.sidebar {
    width: 30vh;
    background: #bad3e6;
    padding: 20px;
    box-sizing:border-box ;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    padding: 20px;
    display: block;
    color: white;
    font-weight: bold;
}

li a:hover {
    background: #0C578E;
    color: white;
}

li a.home {
    background: #333;
    color: #fff;
}

main {
    width: 80%;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-right: 650px; /* 원하는 만큼의 마진을 설정 */
}

.button-fin{
    display: block; /* 블록 레벨 요소로 변경 */
    text-align: right; /* 오른쪽 정렬 */
    margin: 10px 150px 20px 0; /* 위아래 간격과 오른쪽 간격 설정 */
}

footer {
    background: #D4E3EE;
    color: white;
    text-align: left;
    padding: 10px 0;
    height: 60px; /* 푸터의 높이를 60px로 고정 */
    text-align: center;
}

.signup{
    width:500px;
    margin: 40px auto;
}

.signup h2{
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size:40px;
    letter-spacing: 8px;
    background: #D4E3EE;
}

#registration-form{
    width: 98%;
    text-align: center;
    padding: 10px;
    border:1px solid black;
}

label {
  font-size: 18px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
}

[type="radio"], span {
  vertical-align: middle;
}

[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  margin-right: 5px;
}

[type="radio"]:checked {
  border: 0.4em solid black;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

input{
    width:55%;
    height:40px;
    margin-top:10px;
    border-radius: 8px;
    border: 1px solid black;
}

.gender {
    padding: 15px 10px;
}

.gender input[type=radio]{
    display: none;

}
.gender input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.gender input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.gender input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}

.dropdown{
    display:flex;
    justify-content: center;
    align-items: center;
}
.dropdown1, .dropdown2 {
    margin:0 30px;
  display: flex;
  align-items: center;
}

.dropdown1 label, .dropdown2 label {
  font-size:15px;
  margin-right: 10px; /* 라벨과 셀렉트 박스 간격 조절 */
}

.dropdown1 select, .dropdown2 select {
  margin-bottom: 10px;
  margin-top: 10px;
}

button{
    background-color: #bad3e6;
    color: black;
    padding: 8px 30px;
    border-radius:5px;
    border:none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
    width: 150px;
}
.exit{
    background:#8B0000;
    color:white;
    width:100px;
    font-size:15px;
}