body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height:100%;
}

.header {
    display: flex;
    background: #D4E3EE;
    color: black;
    padding: 20px 30px;
    height: 80px; /* 헤더의 높이를 80px로 고정 */
    align-items: center;
}

nav {
  display: flex;
  margin-left: auto;
}

nav a{
   padding:10px;
   text-decoration: none;
   color: inherit;
}
.logo {
    width: 80px; /* 원하는 너비로 조절 */
    height: 80px; /* 높이 자동으로 조절 (비율 유지) */
    margin-right: 40px; /* 로고 오른쪽 여백 조절 */
}

.title {
    margin: 0; /* 기본 마진 제거 */
}

h1 {
    text-align: center;
    font-size: 36px; /* 원하는 크기로 설정 (예: 36px) */

}
.container {
    display: flex;
    min-height: 100vh; /* 최소 높이를 브라우저 뷰포트의 100%로 고정 */
}

.sidebar {
    width: 30vh;
    background: #bad3e6;
    padding: 20px;
    box-sizing:border-box ;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    padding: 20px;
    display: block;
    color: white;
    font-weight: bold;
}

li a:hover {
    background: #0C578E;
    color: white;
}

li a.home {
    background: #333;
    color: #fff;
}

main {
    width: 80%;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-right: 650px; /* 원하는 만큼의 마진을 설정 */
}

.button-fin{
    display: block; /* 블록 레벨 요소로 변경 */
    text-align: right; /* 오른쪽 정렬 */
    margin: 10px 150px 20px 0; /* 위아래 간격과 오른쪽 간격 설정 */
}

footer {
    background: #D4E3EE;
    color: white;
    text-align: left;
    padding: 10px 0;
    height: 60px; /* 푸터의 높이를 60px로 고정 */
    text-align: center;
}

.table1, .table2{
    width: 80%;
    height:20px;
    border-collapse: collapse;
    margin:0;
}

.table1, th, td, .table2 {
    margin: 80px auto;
   border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: center;
}

th,.color {
    background-color: #f2f2f2;
}

caption{
    text-align:left;
    margin-bottom: 15px;
}
td button{
    border:none;
    background-color:lightgray;
    width:70px;
    cursor:pointer;
}