.custom-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px; /* 테이블의 최대 너비 설정 */
    margin: 20px auto; /* 가운데 정렬 */
}

.custom-table td {
    border: 1px solid #000; /* 검정색 선을 추가합니다 */
    padding: 10px;
    text-align: center;
}
.custom-table td:first-child {
    width: 50px; /* 번호 셀의 너비를 조절하세요 */
    /* 다른 스타일 속성 추가 가능 */
}

